header figure {
  margin: 16px;
}

header img {
  max-height: 500px;
}

nav {
  padding: 16px 0;
  max-width: 70%;
  margin: 0 auto;
}

@media screen and (max-width: 560px) {
  nav {
    max-width: 100%;
    padding: 16px;
  }
}

nav h1 {
  padding-right: 32px;
}

nav,
ul {
  display: flex;
  align-items: center;
}
